<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>IOT-go医院环境监测系统传感器数据显示</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); }
</script>
<!-- //for-mobile-apps -->
<!-- chart -->
<script src="/static/js/Chart.js"></script>
<!-- //chart -->
<script type='text/javascript' src="/static/js/jquery-1.11.2.min.js"></script>
<link href="/static/css/style5.css" rel="stylesheet" type="text/css" media="all" />
<style>
    table,table tr th, table tr td { border:2px solid #000000; }
    table { width: 100%; min-height: 52px; line-height: 52px; text-align: center; border-collapse: collapse;}
    .font{font-size:25px;font-family:"SimSun";}
</style>

</head>
<body onload="header()">
	<!-- main -->
	<h1 id="headshow" style="font-weight: bold;color:#6e3737;opacity: 0.6;"></h1>
<div style="height:30px;"></div>
  <center>
    <div class="container">
		<div class="appointment-w3" style="margin-bottom:10px;">

            <div class="clear"> </div>

				<div class="diagram" style="folat:right">
					<canvas id="doughnut" height="180" width="180"></canvas>
					<h4>{{ data }}</h4>
				</div>
            <div style="height:30px;"></div>
				<script>
					var doughnutData = [
							{
								value: 100,
								color:"#1abc9c",
								highlight: "#1abc9c",
							}
						];
                    new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
				</script>
			<div class="clear"> </div>
                <div class="wrap" style="width:230px">
		<a href="/datashowsingle/?id={{ id }}&roomnum={{ roomnumber }}" onClick="javascript :;">
        <input type="submit" value="刷新" >
        </a>
   	</div>
{#            <div style="height:40px"></div>#}
{#         <table class="font" id="tab"  border="1" style="margin:0px auto;">#}
{#                    <tr>#}
{#                        <th>时间</th>#}
{#                        <th>状态</th>#}
{#                    </tr>#}
{#          </table>#}
{#	</div>#}
		</div>
  </center>
    </div>




{#    <div class="wrap" style="width:230px">#}
{#		<a href=”#” onClick="javascript :history.back(-1);">#}
{#        <input type="submit" value="返回" >#}
{#        </a>#}
{#   	</div>#}

	<!-- //main -->
    <script>

        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');
            }
        }

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });

            $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright
        });

                     var sensorno={{ id }};
					function header(){
					    var headshow="";
                        if(sensorno==1){
                            headshow="人员在岗状态" ;
                        }
                        if(sensorno==2){
                            headshow="二氧化碳浓度监测结果";
                        }
                        if(sensorno==3){
                            headshow="室内温湿度监测结果";
                        }
                        if(sensorno==4){
                            headshow=" 光照强度监测结果";
                        }
                        if(sensorno==5){
                            headshow="室外PM2.5浓度监测结果";
                        }
                        if(sensorno==6){
                            headshow="室外紫外线浓度监测结果";
                        }
                        $("#headshow").html(headshow);
                    }

    </script>

</body>
</html>